.logindlg
  = form_for :session, :url => login_path, :html => {:class => 'form-horizontal' } do |f|
    .fieldset
      %legend Login
      .control-group
        %label.control-label User
        .controls
          %input.input{:name => 'user', :type => 'text'}
      .control-group
        %label.control-label Password
        .controls
          %input.input{:type => 'password'}
      .control-group
        %label.control-label
        .controls
          = button_tag "Login", :class => 'btn btn-primary', :disable_with => "Processing ..."
