= render 'user_menu'
.container
  %h2 USER: #{current_user.name}
  %table.table.table-striped
    %thead
      %tr
        %th Instant
        %th Message
    %tbody#chat
      - @chat.each do |chat|
        %tr
          %td
            = chat.format_instant
          %td
            = chat.message
