%footer.footer
  .container
    .row
      .span4
        %h3 Connect
        %ul
          %li Twitter
          %li Bookface
          %li Google+
      .span4
        %h3 Contact Us
        %ul
          %li email@rtb.com
          %li 1 800 123 1234
      .span4
        %h3 Company
        %ul
          %li About Us
          %li Blog
          %li Press
          %li Terms of use
          %li Privacy
    %p &copy; - Real Time Dashboard
