.row
  .span9
    %h2= @blog.id.to_s + ': ' + @blog.title
    %p= raw(@blog.message)
  .span3
    %h3 Previous Posts
    %ol
    - @prev_blog.each do |p|
      %li= link_to p.id.to_s + ': ' + p.title, blog_path(p.id)
