$title-size: 25pt;

h1 {
	.special {
		font-size: $title-size;
	}
}

.special {
	font-size: $title-size;
}

a {
 	.link {
		color: #ce4dd7;
		&:hover { color: #ffb3ff; }
		&:visited { color: #c456cb; }
	}
}
