@import "bootstrap/_variables";
@import "bootstrap/_mixins";

$title-size: 25pt;

.alert-message {
  border-radius: 0px;
  padding: 0px;

  error {
    background-color: #f00;
  }
}

.hero-unit {
	#computer-demo {
		padding: 10px;
		float: right;
		position: relative;
		left: 0px;
		top: 0px;
	}
}

.banner {
	padding-top: $navbarHeight + 10px;
}

.price_display {
	background-color: #f00;
}

.enterprise_box {
	background-color: #C7E2C4;
  padding: 8px 20px 12px;
	margin: 20px 0px;
  @include border-radius(7px);
	@include box-shadow;
	@include gradient-vertical(#C7E2C4, lighten(#C7E2C4, 10%));
}

.plan_box {
	background-color: #C4DCE2;
	width: 250;
	height: 250;
  padding: 8px 20px 12px;
  @include border-radius(7px);
	@include box-shadow;
	@include gradient-vertical(#C4DCE2, lighten(#C4DCE2, 10%));
	.title {
		h2 {
			color: #1A526B;
  		font-size: 20pt;
		}
		.price {
			float: right;
			color: #000;
  		font-size: 15pt;
		}
	}
}

body {
  padding-top: $navbarHeight;
}

.sidebar {
	padding-top: 90px;
}

h1 {
  .special {
    font-size: $title-size;
  }
}

.btn-join {
  font-size: 24pt;
}

.special {
  font-size: $title-size;
}

a {
  .link {
    color: #ce4dd7;
    &:hover { color: #ffb3ff; }
    &:visited { color: #c456cb; }
  }
}
